*{
    margin: 0;
    padding: 0;
}

header{
    background: #000;
    color: white;
}
nav{
    height: 80px;
display: flex;
justify-content: space-around;
align-items: center;
}
.logo h1{
font-family: sans-serif;
color: yellow;
font-size: 2.5rem;
}
.lists, ul, li{
    display: flex;
    gap: 20px;
}
.lists, ul, li, a{
    color: white;
    text-decoration: none;
}
.lists, ul, li, a:hover{
    color: yellow;
} 

.icon{
    color: white;
    font-size: 1.2rem;
    display: none;
}
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.child-1{
    height: 300px;
    width: 300px;
}

.child-1 img{
    border-radius: 50%;
    height: 300px;
    width: 300px;
}
.child-2{
    width: 400px;
}   
.child-2 h1{
    font-size: 3rem;
    color: red;
    margin-bottom: 20px;
}

footer{
    background: #000;
    color: white;
    text-align: center;
    padding: 10px 0;
}


@media (max-width: 600px) {
    .lists{
        display: none;
    }
    .icon{
        display: block;
        color: yellow;
        font-size: 2rem;
    }
}